/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/


html, body{
	height: 100%;
	font-size: 14px;
	line-height: 20px;
	font-family: Arial;
	color: #fff;
}
.wrapper {
	min-height: 100vh;
	background: #9ACD32;
	display: flex;
	flex-direction: column;

}
.fullscreen {
	min-height: 100vh;
	padding: 20px 0;
	background: #FFA07A;
	display: flex;

}
.fullscreen__container {
	background: #A9A9A9;
	flex: 1 1 auto;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 40px;
}
.fullscreen__title {
	font-size: 55px;
	margin: 0 0 50px 0;
}
.fullscreen__content {
	font-size: 22px;
	line-height: 24px;
	margin: 0 0 30px 0;
}
.fullscreen__button {
	text-decoration: none;
	color: #48D1CC;
	font-weight: 700;
	background: #ADFF2F;
	padding: 10px;
	align-self: center;#48D1CC;
	font-size: 25px;
	text-transform: uppercase;
	border-radius: 4px;
}

.content {}
.content__container{}
.footer {}
.footer__container{}