/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/


html, body{
	height: 100%;
	font-size: 14px;
	line-height: 20px;
	font-family: Arial;
	color: #fff;
}
.wrapper {
	min-height: 100vh;
	background: #9ACD32;
	display: flex;
	flex-direction: column;
	position: relative;
	top: 0;
	transition: top 1s;
}
.container{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}
.fullscreen {
	min-height: 100vh;
	padding: 20px 0;
	display: flex;
	text-align: center;
}
.fullscreen__body {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	padding: 0 40px;
	position: relative;
}
.fullscreen__title {
	font-size: 55px;
	margin: 50px 0 250px;
	color: #9ACD32;
}
.fullscreen__content {
	font-size: 23px;
	line-height: 24px;
	color: #000080;
	letter-spacing: 0.5px;
}
.fullscreen__button {
	display: inline-block;
	text-decoration: none;
	color: #696969;
	font-weight: 700;
	background: #ADFF2F;
	padding: 10px;
	align-self: center;
	font-size: 25px;
	text-transform: uppercase;
	border-radius: 4px;
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translate(-50%);
}
.fullscreen_one{
	background: url('../image/fullscreen_01.JPG') center / cover no-repeat;
}
.fullscreen_two{
	background: url('../image/fullscreen_02.JPG') center / cover no-repeat fixed;
}
.fullscreen_three{
	background: url('../image/fullscreen_03.JPG') center / cover no-repeat;
}
.fullscreen_four{
	background: url('../image/fullscreen_04.JPG') 0 0 / cover no-repeat fixed;
}
.fullscreen_five{
	background: url('../image/fullscreen_05.JPG') 0 bottom / cover no-repeat;
}
.fullscreen_six{
	background: url('../image/fullscreen_06.JPG') 0 bottom / cover no-repeat fixed;
}
.content {
	font-size: 17px;
	line-height: 20px;
}
.content__body{
	padding: 30px 20px;
	position: relative;
}
.content p{
	margin: 0 0 20px 0;
}
.content p:last-child{
	margin: 0;
}
.content__ancor{
	font-size: 14px;
	color: #fff;
	background: #696969;
	position: absolute; 
	right: 5px;
	bottom: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.content__ancor:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 15px;
	height: 15px;
	border-left: 2px solid #fff;
	border-top: 2px solid #fff;
	transform: translate(-50%, -25%) rotate(45deg);
}
.footer {
	height: 40px;
	padding: 15px 0;
	background: #2F4F4F;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	display: flex;
	align-items: center;
}
